# make sure your dns records are set up before running the dockerfile

# CHANGE to your domain
news.trentwiles.com {
    root * /srv
    file_server
    
    try_files {path} /index.html
    
    # compression
    encode gzip
    
    # security headers
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        X-XSS-Protection "1; mode=block"
        Referrer-Policy no-referrer-when-downgrade
    }
}

# CHANGE to your domain
api.news.trentwiles.com {
    reverse_proxy :30000

    # fixes CORS issues
    header {
        Access-Control-Allow-Origin   *
        Access-Control-Allow-Methods  *
        Access-Control-Allow-Headers  *
        Access-Control-Allow-Credentials false
    }

    @options method OPTIONS
    respond @options 204
}